@import 'screen-1';
@import 'screen-2';

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.app-wrapper {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
}

.advice {
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  
  h2 {
    margin: 0;
    font-weight: 300;
    opacity: .8;
  }
}

.btn {
  width: 90px;
  height: 30px;
  color: white;
  background: #a3a3a3;
  border-radius: 30px;
  box-shadow: none;
  outline: none;
  transition: .3s;

  &.active {
    background: #707070;
  }
}






